<div class="manage-hotel-container">
    <div class="header">
        <ul>
            <li><a href="#home">Hotel Amenities</a></li>
            <li><a href="#news">Gallery</a></li>
            <li><a href="#contact">Rooms</a></li>
            <li><a href="#home">Attractions</a></li>
            <li><a href="#news">Policies</a></li>
            <li><a href="#contact">Location</a></li>
          </ul>
          <div class="pagination">
            <img src="assets/images/XMLID_297_.svg" alt="">
            <img src="assets/images/XMLID_294_.svg" alt="">
            <img src="assets/images/XMLID_294_.svg" alt="">
            <img src="assets/images/XMLID_294_.svg" alt="">
            <img src="assets/images/XMLID_294_.svg" alt="">
          </div>
    </div>
    <div class="footer">
        <div class="hotel-name"><span>Heevan Retreat</span></div>
        <div class="star-icon">
            <img src="assets/images/Group 4035.svg" alt="">
            <img src="assets/images/Group 4035.svg" alt="">
            <img src="assets/images/Group 4035.svg" alt="">
            <img src="assets/images/Group 4035.svg" alt="">
            <img src="assets/images/Group 4043.svg" alt="">
        </div>
        
    </div>
 </div>
