

<!-- map -->
<div class="location-container">
  <div class="location-map">
      <img src="assets/images/Screenshot 2023-12-13 at 3.23.12 PM.png" alt="">
  </div>
  <div class="container">
      <div class="location-body">
          <div class="label-container">
              <div class="label-pic">
                  <img src="assets/images/home-address.svg" alt="">
              </div>
              <div class="label">
                  <div class="label-text">
                    <span>Address</span>  
                  </div>
                  <div class="label-location1">
                      <span>Heevan Retreats Rd, Gulmarg, Jammu and Kashmir 193403.</span>
                  </div>
              </div>
          </div>
          <div class="label-container">
              <div class="label-pic">
                  <img src="assets/images/g2505.svg" alt="">
              </div>
              <div class="label">
                  <div class="label-text">
                     <span>Location</span> 
                  </div>
                  <div class="label-location">
                     <span> Gulmarg, India</span>
                  </div>
              </div>
          </div>
          <div class="label-container">
              <div class="label-pic">
                  <img src="assets/images/social-media.svg" alt="">
              </div>
              <div class="label">
                  <div class="label-text">
                      <span>Address</span>
                  </div>
                  <div class="label-location">
                      <span>www.facebook.com/heevanretreat</span> 
                  </div>
              </div>
          </div>
          <div class="label-container">
              <div class="label-pic">
                  <img src="assets/images/Group 4370.svg" alt="">
              </div>
              <div class="label">
                  <div class="label-text">
                      <span>Instagram</span> 
                  </div>
                  <div class="label-location">
                      <span>www.instagram.com/heevanretreat</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="button">
          
              <button class="arrow-button">Expand Map <span class="arrow"><img src="assets/arrow-right (1).svg" alt=""></span></button>
          
      </div>
  </div>
 
</div>