<div class="gallery-conatiner">

  <div class="nav-conatiner">
      <div class="navbar">
          <div class="nav-item"><span>Entrance</span></div>
          <div class="nav-item"><span>Facade</span></div>
          <div class="nav-item"><span>Reception</span></div>
          <div class="nav-item"><span>Lobby</span></div>
      </div>
  </div>
  <div class="grid-container">
      <div class="grid-item item1">
          <img src="assets/images/image1.png" alt="">
      </div>
      <div class="grid-item item2">
          <img src="assets/images/image2.png" alt="">
      </div>
      <div class="grid-item item3">
          <img src="assets/images/image1.png" alt="">
      </div>
      <div class="grid-item item4">
          <img src="assets/images/image4.png" alt="">
          <button class="view-more-btn">View More
              <span class="arrow">
                  <img src="assets/images/arrow.png" alt="">
              </span>     
          </button>
      </div>
  </div>
</div>