
<div class="attraction-container">
    <div class="attraction-body">
      <div class="header">
        <div class="gallery-part">
          <div class="gallery-image">
            <img src="assets/images/icon.png" alt="">
          </div>
          <div class="gallery-name">
            <span>Gulmarg Gondola</span>
          </div>
        </div>
        <div class="text-part">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…
          </span>
        </div>
      </div>
      <div class="footer">
        <div class="distance">
          <div class="distance-km">
            <span>1.1Km</span>
          </div>
          <div class="distance-text">
            <span>From resort</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  