<div class="hotel-amenities">
    <div class="amenities-header">
      <span>HOTEL AMENITIES</span>
    </div>
    <div class="amenities-container">
      <div class="amenity">
        <img src="assets/images/beach.png" alt="Private Beach">
        <div class="amenity-name">Private Beach</div>
      </div>
      <div class="amenity">
        <img src="assets/images/ping-pong.png" alt="Indoor Games">
        <div class="amenity-name">Indoor Games</div>
      </div>
      <div class="amenity">
        <img src="assets/images/bonfire.png" alt="Bonfire">
        <div class="amenity-name">Bonfire</div>
      </div>
      <div class="amenity">
        <img src="assets/images/playground.png" alt="Kids Play Area">
        <div class="amenity-name">Kids Play Area</div>
      </div>

      <div class="amenity">
        <img src="assets/images/beach2.png" alt="Private Beach">
        <div class="amenity-name">Private Beach</div>
      </div>
      <div class="amenity">
        <img src="assets/images/ping-pong.png" alt="Indoor Games">
        <div class="amenity-name">Indoor Games</div>
      </div>
      <div class="amenity">
        <img src="assets/images/bonfire.png" alt="Bonfire">
        <div class="amenity-name">Bonfire</div>
      </div>
    </div>
    <div class="see-all-container">
      <button class="see-all-button">
        See all Amenities
        <img src="assets/images/down-arrow.svg" alt="Arrow" class="arrow" />
      </button>
    </div>
  </div>