<div class="body-container">

  <app-hotel-view></app-hotel-view>
  <app-manage-hotels></app-manage-hotels>
  <app-hotel-amenties></app-hotel-amenties>
  <app-gallery></app-gallery>
  <app-rooms></app-rooms>
  <app-rooms></app-rooms>
  <app-rooms></app-rooms>
  <div class="test-container">
    <app-attraction></app-attraction>
    <app-attraction></app-attraction>
    <app-attraction></app-attraction>
    <app-attraction></app-attraction>
  </div>
  <app-map></app-map>`
  <app-policy></app-policy>
</div>







