<div class="container">
    <div class="body-container">
      <div class="left-side">
        <div class="about">
          <div class="about-hotels"><span>ABOUT HOTEL</span></div>
          <div class="hotel-description"><span>LOREM IPSUM </span></div>
        </div>
        <div class="brief-container">
          <div class="breif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div class="breif-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-item item1"><img src="assets/images/icon3.png" alt=""></div>
        <div class="grid-item item2"><img src="assets/images/icon2.png" alt=""></div>
        <div class="grid-item item3"><img src="assets/images/icon1.png" alt=""></div>
      </div>
    </div>
    <div class="footer-container">
      <div class="item-container1">
        <div class="item-group"><span>Group</span></div>
        <div class="item-name"><span>Marriott Hotels</span></div>
      </div>
         <div class="border"></div>
      <div class="item-container">
        <div class="item-group"><span>Brand</span></div>
        <div class="item-name"><span>Edition</span></div>
      </div>
       <div></div>
      <div class="item-container">
        <div class="item-group"><span>Time</span></div>
        <div class="item-name" ><span>Check in : 2pm | Check out : 12pm</span></div>
      </div>
      <div class="premium-resort">
        <span>Premium - Resort</span>
      </div>
    </div>
  </div>