<div class="main-div">
    <div class="border">
        <div class="deluxe-rooms">DELUXE ROOM</div>
        <div class="rooms-body">
            <div class="gallery">
                <div class="cover">
                    <!-- <img src="assests/images/cover.png" alt=""> -->
                    <div>
                        <img style=" width: 15px;
                    height: 26px;" src="assets/images/arrow-down-sign-navigate_32195@2x.png" alt="">
                    </div>
                    <div>
                        <img style= "width: 15px;
                        height: 26px;" src="assets/images/down.png" alt="">
                    </div>
                </div>
                <div class="thumbnail-container">
                    <div class="thumbnail">
                        <img src="assets/images/thumbnail1.png"
                            alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="assets/images/thumbnail2.png"
                            alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="assets/images/thumbnail3.png"
                            alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="assets/images/thumbnail4.png"
                            alt="">
                        <div>
                            view more
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="right-container">
                    <div class="hotel-amenties-container">
                        <div class="hotel-amenties">
                            <div>
                                <img src="assets/images/measurement.svg" alt="">
                            </div>
                            <div>12 sq m</div>
                        </div>
                        <div class="hotel-amenties"> 
                            <div>
                                <img src="assets/images/g15.svg" alt="">
                            </div>
                            <div> mountain view</div>
                        </div>
                        <div class="hotel-amenties"> 
                            <div>
                                <img src="assets/images/group (2).svg" alt="">
                            </div>
                            <div> sleep 3</div>
                        </div>
                        <div class="hotel-amenties"> 
                            <div>
                                <img src="assets/images/bed (1).svg" alt="">
                            </div>
                            <div> 1 double bed</div>
                        </div>
                    </div>
                    <div class="room-amenties">
                        <div class="rooms-text"> ROOM AMENTIES</div>
                        <div class="facility-container">
                            <div class="facility-rooms">
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Air Conditioning</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Telephone</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Free Wifi</div>
                                </div>                 
                            </div>
                            <div class="facility-rooms">
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Air Conditioning</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Telephone</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Free Wifi</div>
                                </div>                 
                            </div>
                            <div class="facility-rooms">
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Air Conditioning</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Telephone</div>
                                </div>
                                <div class="facility">
                                    <div><img src="assets/images/Check_Mark.svg" alt=""></div>
                                    <div>Free Wifi</div>
                                </div>                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-amenties-container">
                    <div class="top-amenties">
                        TOP AMENTIES
                    </div>
                    <div class="featues-container">
                        <div class="features-1">
                            <div><img src="assets/images/tv.svg" alt=""></div>
                            <div> LED TV</div>
                        </div>
                        <div class="features-2">
                            <div><img src="assets/images/Group 3961.svg" alt=""></div>
                            <div> PRIVATE BATHROOM</div>
                        </div>
                        <div class="features-3">
                            <div><img src="assets/images/mini.svg" alt=""></div>
                            <div> MINIBAR</div>
                        </div>
                        <div class="features-4">
                            <div><img src="assets/images/cable-tv.svg" alt=""></div>
                            <div> CABLE CHANELLS</div>
                        </div>
                    </div>
                    <div class="features2">
                        <div><img src="assets/images/outline.svg" alt=""></div>
                        <div>HOUSE KEEPING</div>
                    </div>
                   
                </div>
                <button class="view-more-btn">More Details
                    <span class="arrow">
                        <img src="assets/images/arrow.png" alt="">
                    </span>     
                </button>
            </div>
        </div>
    </div>
</div>
